@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior-y: none;
    font-family: "Unbounded", "Poppins";
}

:root{
    --primary-dark: #0E0E0E;
    --secondary-dark: #141414;

    --primary-white: white;
    --secondary-white: rgb(120, 120, 120);

    --primary-blue: #3b45f1;
    --primary-pink: #FF375F;
    --primary-green: #ADDF85;
}



